.App {
  text-align: center;
}
.App-Middle {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title {
  font-family: "Lucida Grande";
  font-size: 30px;
  color:  #282c34;
  text-decoration: none;
  text-transform: uppercase;
}

.header {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #EEEEEE;
  border-radius: 12px;
}

div[disabled]
{
  pointer-events: none;
  opacity: 0.7;
}

.board {
  padding: 5px;
  background-color: #EEEEEE;
  border-radius: 12px;
  margin-top:15px;
}

.player-turn {
  padding: 5px; 
  border-radius: 12px
}

.baby-blue-color {
  background-color: #4cc3db; 
}

.parrot-green-color {
  background-color: #3fdb92;
}

.rose-red-color {
  background-color: #FF033E;
}

.card {
  margin: 30px auto;
  width: 80px;
  height: 80px;
  border-radius: 30px;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
  -webkit-transition : 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s; 
  background-color: #282c34;
  user-select: none;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-size: 70px;
}

.card:hover {
  -moz-transform: scale(0.9, 0.9);
    -ms-transform: scale(0.9, 0.9);
    -o-transform: scale(0.9, 0.9);
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

/* .card:before {
  transform: rotate(0deg);
}
.card:active {
  transform: rotate(60deg)
}
.card:after {
  transform: rotate(0deg)
} */

.title-white {
  color: white;
}

.title-black {
  color: black;
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: absolute;
  margin-top: 15vh;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}