body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%; 
  overflow: hidden;
  background: #d3d3d3;
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(.34, rgba(230,237,241,.05)),
      color-stop(.67, rgba(230,237,241,0)));
  -webkit-background-size: 5px 5px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
